/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails31/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* lifted from flutie */
/* Success, error & notice boxes for messages and errors. */
/* line 4, ../../app/assets/stylesheets/_flash.scss */
div.error, div.notice, div.success,
#flash_failure, #flash_success, #flash_notice {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.8em;
}

/* line 13, ../../app/assets/stylesheets/_flash.scss */
div.error,
#flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19;
}

/* line 20, ../../app/assets/stylesheets/_flash.scss */
div.error a,
#flash_failure a {
  color: #D12F19;
}

/* line 25, ../../app/assets/stylesheets/_flash.scss */
div.notice,
#flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134;
}

/* line 32, ../../app/assets/stylesheets/_flash.scss */
div.notice a,
#flash_notice a {
  color: #817134;
}

/* line 37, ../../app/assets/stylesheets/_flash.scss */
div.success,
#flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214;
}

/* line 44, ../../app/assets/stylesheets/_flash.scss */
div.success a,
#flash_success a {
  color: #529214;
}

/* line 9, ../../app/assets/stylesheets/home.css.sass */
body {
  font-family: "EB Garamond", Georgia, serif;
}

/* line 12, ../../app/assets/stylesheets/home.css.sass */
a {
  color: #1980d7;
  text-decoration: none;
}
/* line 24, ../../app/assets/stylesheets/_zass.sass */
a:hover {
  text-decoration: underline;
}

/* line 16, ../../app/assets/stylesheets/home.css.sass */
em {
  font-style: italic;
}

/* line 19, ../../app/assets/stylesheets/home.css.sass */
h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
}

/* line 24, ../../app/assets/stylesheets/home.css.sass */
p {
  margin-bottom: 15px;
}

/* line 27, ../../app/assets/stylesheets/home.css.sass */
header {
  background-color: #555555;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 50px;
}
/* line 36, ../../app/assets/stylesheets/home.css.sass */
header .container {
  margin: 0px auto;
  padding: 0px;
  position: relative;
  width: 960px;
}
/* line 39, ../../app/assets/stylesheets/home.css.sass */
header .container .left {
  display: block;
  clear: none;
  float: left;
}
/* line 42, ../../app/assets/stylesheets/home.css.sass */
header .container .left a#logo {
  font-family: "Caudex", Georgia, serif;
  display: block;
  clear: none;
  float: left;
  display: inline;
  font-size: 1.7em;
  padding: 6px;
  margin: 10px 30px 0 0;
  color: white;
  background-color: #6677aa;
  text-decoration: none;
}
/* line 53, ../../app/assets/stylesheets/home.css.sass */
header .container .left #search_box {
  position: relative;
  display: inline;
  display: block;
  clear: none;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 0 0 0;
  background-color: #444444;
  padding: 0;
  width: 200px;
}
/* line 62, ../../app/assets/stylesheets/home.css.sass */
header .container .left #search_box input.text {
  padding: 6px 0 0 7px;
  position: absolute;
  z-index: 50;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.9em;
  width: 160px;
  color: #999999;
}
/* line 73, ../../app/assets/stylesheets/home.css.sass */
header .container .left #search_box input::-webkit-input-placeholder {
  color: #cccccc;
}
/* line 76, ../../app/assets/stylesheets/home.css.sass */
header .container .left #search_box input:-moz-placeholder {
  color: #cccccc;
}
/* line 79, ../../app/assets/stylesheets/home.css.sass */
header .container .left #search_box label {
  padding-left: 5px;
  position: relative;
  z-index: 49;
  top: 5px;
  left: 2px;
  font-size: 0.9em;
  color: #999999;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
/* line 92, ../../app/assets/stylesheets/home.css.sass */
header .container .left #search_box input.submit {
  display: block;
  clear: none;
  float: right;
  padding: 2px 3px 0 0;
  outline: none;
}
/* line 98, ../../app/assets/stylesheets/home.css.sass */
header .container .left #site_nav {
  display: block;
  clear: none;
  float: left;
  margin: 17px 0 0 20px;
  color: #aaaaaa;
}
/* line 102, ../../app/assets/stylesheets/home.css.sass */
header .container .left #site_nav a {
  color: #aaaaaa;
}
/* line 104, ../../app/assets/stylesheets/home.css.sass */
header .container .left #site_nav a:hover {
  color: white;
}
/* line 107, ../../app/assets/stylesheets/home.css.sass */
header .container .right {
  display: block;
  clear: none;
  float: right;
}
/* line 109, ../../app/assets/stylesheets/home.css.sass */
header .container .right ul {
  float: none;
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin: 15px 0 0 0;
}
/* line 33, ../../app/assets/stylesheets/_zass.sass */
header .container .right ul li {
  float: left;
  clear: none;
  margin: 0;
  padding: 2px 10px;
}
/* line 112, ../../app/assets/stylesheets/home.css.sass */
header .container .right ul li {
  color: #aaaaaa;
}
/* line 114, ../../app/assets/stylesheets/home.css.sass */
header .container .right ul li a {
  color: #aaaaaa;
  color: white;
}

/* line 119, ../../app/assets/stylesheets/home.css.sass */
footer {
  margin: 20px 0;
}

/* line 122, ../../app/assets/stylesheets/home.css.sass */
#container {
  margin: 0px auto;
  padding: 0px;
  position: relative;
  width: 960px;
  margin: 80px auto 80px auto;
}
